/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: #525FE1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 95vw;
  z-index: 1000;
  top: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #525FE1;
  background-color: rgb(255, 251, 251);
}
.dashboard-icon{
  font-size: 24px;
  margin-right: 10px;
  color: #525FE1;
}
.seasrching input[type="search"] {
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
  color: #333;
  width: 300px;
}

.seasrching{
  display: flex;
  flex-direction: row;
}

#search {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Style for the search button on hover */
#search-button:hover {
  background-color: #0069d9;
}


.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-center img {
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  color: #525FE1;
  background-color: rgb(255, 255, 255);
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-radius: 4px;
  display: none;
}

.dropdown-content a {
  display: block;
  margin-bottom: 8px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #525FE1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

}

.sidebar-header {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  
  height: 60px;

  color:black;
  font-size: 20px;
  font-weight: bold;
} 
.sidebar-menu {
  margin: 10px 16px;
  padding: 0;
  list-style: none;
}
.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-item:last-child {
  margin-bottom: 0;
}

.sidebar-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  padding: 4px 10px;
 
  border-radius: 4px; 
  transition: background-color 0.3s; 
}

.sidebar-item a:hover {
  background-color: #525FE1; 
  text-decoration: none;
}


.dashboard-icon {
  font-size: 20px;
  margin-right: 10px;
}
.teachme{
  color: #525FE1;
}


.datas{
background-color: #F5F5F5;
width: 82vw;
height: 100%;
position: absolute;
right: 0;
padding-top: 10vh;
}


.dropdown-content.show {
  display: block;
}
