.body1 {
  height: 110vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  font-family: fa2;
}
/* .container3 {
  background-color: white;
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 90%;
  border-radius: 40px 0px 0px 40px;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25);
} */
.container4 {
  background-color: #f5f6ff;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 90%;
  border-radius: 0px 40px 40px 0px;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.container3 img {
  border-radius: 40px 0px 0px 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container4 h1 {
  margin-top: 0px;
  text-align: center;
  /* margin-top: 5rem; */
  color: #525fe1;
  margin-right: 25rem;
  font-size: 2rem;
}
.container4 input {
  width: 16rem;
  height: 1rem;
}
.container4 input[type="submit"] {
  background-color: #525fe1;
  height: 3rem;
  width: 6rem;
  text-align: center;
  background: #ffcf59;
  font-weight: 700;
  margin-left: 19rem;
  margin-top: 2rem;
}
.container4 select {
  width: 18rem;
  margin-left: 6rem;
  height: 3rem;
  margin-top: 1rem;
  box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
  background: #f2f3fb;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 1rem;
  color: black;
}
