.container5{
    background-color: #F5F6FF;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 90%;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.container5 h1{
    margin-top: 0rem;
    text-align: center;
}
.container5 input[type="submit"]{
    background-color: #525FE1;
    height: 4rem;
    width: 10rem;
    text-align: center;
    background: #FFCF59;
    font-weight: 700;
    margin-left: 31rem;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .modal button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #ebe8e8;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .modal button:hover {
    background-color: #0062cc;
  }
  .studentbody{
    margin-left: 20rem;
    font-family: fa2;
  }
  .container5 select{
    width: 83.5%;
    margin-left: 4rem;
  }
  .container5 input[type=submit]{
    margin-left: 40%;
  }

  
  @media screen AND (max-width: 1024px){
  
    .studentbody{
      margin-left: 5rem;
      width: 100%;
    } 
    .container5 select{
      width: 84%;
      margin-left: 3rem;
    }
    .container5 input[type=submit]{
      margin-left: 15rem;
    }
  }
    
  @media screen AND (max-width: 600px){
    .studentbody{
      margin-left: 0.5rem;
      width: 100%;
    } 
    .container5{
      width: 95%;
      margin-left: 0rem;
    }
    .container5 select{
      width: 89%;
      margin-left: 1.5rem;
    }
    .container5 input[type=submit]{
      margin-left: 5.5rem;
    }
    
  }
  